<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Pokedex Quiz</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="./categories.js" defer></script>
    <script src="./pokemon.js" defer></script>
    <script src="./main.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='./style.css'>
</head>

<body>
    <div id='app'>
        <section id='loadScreen' v-bind:class='{hideHelper: !loading}'>
            <h1>How many Players?</h1>
            <button @click="testClick(1)">1 Player</button>
            <button @click="testClick(2)">2 Player</button>
        </section>
        <section id='gameBoard' v-bind:class='{hideHelper: loading}'>
            <div id="scoreboard">
                <h1 v-if='players == 2' class='topScoreboardText'>Current Player: {{currentPlayer}}</h1>
                <h1 v-if='players == 1' class='topScoreboardText'>You have {{score1}} point(s)</h1>
                <h1 v-if='players == 2' class='twoPlayerScore'>Player 1 Score: {{score1}}</h1>
                <h1 v-if='players == 2' class='twoPlayerScore'>Player 2 Score: {{score2}}</h1>
            </div>
            <div id='catPicker' v-bind:class='{hideHelper: hideCats}'>
                <div id='hardCats' class='catBox'>
                    <h1>Categories</h1>
                    <h3>There are {{cats.length}} topics remaining</h3>
                    <ul class='hardList'>
                        <li v-for="cat in cats"><button class='hardTopic' @click='chooseCategory'>{{cat}}</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="hardQuestionBox" v-bind:class='{hideHelper: hideQuestion}'>
                <h1>{{currentCat}}</h1>
                <h2>{{question.text}}</h2>
                <form @submit.prevent='checkQuestion'>
                    <input list="pokeListOptions" name="pokeList" id="pokeList" v-model.trim="question.response" />
                    <!-- <datalist id='pokeListOptions'>
                        <option v-for="poke in pokemonList" v-bind:value='poke'></option>
                    </datalist> -->
                    <button>Check Answer</button>
                </form>
            </div>
        </section>
    </div>
    <footer>Made with Vue and way too many Rockstars by Michael Boro</footer>
</body>

</html>